body {
    background-color: ;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(to right,
        rgba(0, 0, 0, 1) 20%,
        rgba(0, 0, 0, .7) 40%,
        rgba(0, 0, 0, .4) 70%,
        rgba(0, 0, 0, 0) 100%), url(/static/img/bg.jpg);
}
.navbar{
    padding: 2rem;
}
.navbar .navbar-brand{
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 2px;
    color: #fff;
}
.hero-text{
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 2px;
    color: #fff;
}

.nav-link{
    color: #fff;
}

.form-control:focus {
    box-shadow: none;
}

.form-control-underlined {
    border: none;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
    outline: none;
    background: transparent;
}
.form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
}