{% extends "dashboard_base.html" %}
{% block title%} {{ title }} {% endblock %}
{% block content%}
<div class="container row">
    <div class="col-md-12">
        <h1 class="lead text-muted"> {{ title }} </h1>
        <div class="table-responsive">
            <table class="table table-borderless table-sm">
                <thead>
                    <tr>
                        <th scope="col">Phone</th>
                        <th scope="col">Name</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Date Hired</th>
                        <th scope="col">Truck Reg NO</th>
                        <th scope="col">Truck Size</th>
                    </tr>
                    </tr>
                </thead>
                <tbody>
                    {% for truck in trucks %}
                    {% if truck.truck.user_id == current_user %}
                    <tr class="">
                        <td> {{ truck.phone_no }} </td>
                        <td> {{ truck.name }} </td>
                        <td> {{ truck.duration }} days </td>
                        <td> {{ truck.date_of_hire.strftime('%B %d,%Y %I:%M %p') }} </td>
                        <td> {{ truck.truck.regno }} </td>
                        <td> {{ truck.truck.size }} </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock%}