<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title%} {{ title }} {% endblock %} </title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/w3.css')}}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <!-- jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</head>

<body class="container">
    <!-- Plug Bootstrap Nav Bar code here -->
    <nav class="navbar navbar-expand-lg text-white">
        <a class="navbar-brand" href="#">Mtruck</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('dashboard')}}"> {{ current_user.uname }} </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('dashboard')}}">My Account</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('auth.register')}}">Join Us</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
    <main class="mb-5">
        <div class="container text-center">
            <h3 class="p-5 hero-text">Trucks for Hire</h3>
        </div>
        <div class="row mb-5">
            <div class="col-lg-8 mx-auto">
                <div>
                    <!-- Underlined search bars with buttons -->
                    <form>
                        <div class="row mb-4">
                            <div class="form-group col-md-9">
                                <input id="search" type="text" placeholder="Search by size,name and reg no" class="form-control form-control-underlined">
                            </div>
                            <div class="form-group col-md-3">
                                <button type="submit" class="btn btn-primary rounded-pill btn-block shadow" id="search-btn">Search</button>
                            </div>
                        </div>
                    </form>
                    <!-- End -->
                </div>
            </div>
        </div>
        <div class="row bg-white shadow p-5">
            <div class="container text-center">
                <h3 class="">Available Trucks</h3>
                {% with messages = get_flashed_messages(with_categories=true) %}
                <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-borderless table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Registration Number</th>
                                <th scope="col">Size</th>
                                <th scope="col">Images</th>
                            </tr>
                            </tr>
                        </thead>
                        <tbody id="trucks">
                            {% for truck in trucks %}
                            <tr class="">
                                <td> {{ truck.regno }} </td>
                                <td> {{ truck.size }} </td>
                                <td>
                                    <a data-toggle="collapse" href="#collapseExample-{{truck.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                                        View images
                                    </a>
                                    <div class="collapse" id="collapseExample-{{truck.id}}">
                                        <img src="/static/img/trucks/{{truck.truck_img}}" alt="" class="img-fluid">
                                    </div>
                                </td>
                                <td>
                                    <a class="btn btn-primary btn-sm" data-toggle="collapse" href="#hire-{{truck.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                                        <i class="bi bi-check2-circle"></i> Hire
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <div class="collapse" id="hire-{{truck.id}}">
                                        <div class="card card-body">
                                            <form class="form-inline" action="{{ url_for('hire',truck_id=truck.id) }}" method="POST">
                                                {{ form.csrf_token }}
                                                <div class="form-group mb-2">
                                                    {{ form.id_no(class="form-control" ,placeholder="ID number")}}
                                                </div>
                                                {% for error in form.id_no.errors %}
                                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                                    {{ error }}
                                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                </div>
                                                {% endfor%}
                                                <div class="form-group mx-sm-3 mb-2">
                                                    {{ form.name(class="form-control" ,placeholder="Full Name")}}
                                                </div>
                                                {% for error in form.name.errors %}
                                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                                    {{ error }}
                                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                </div>
                                                {% endfor%}
                                                <div class="form-group mx-sm-3 mb-2">
                                                    {{ form.phone_no(class="form-control" ,placeholder="Phone No. 07...")}}
                                                </div>
                                                {% for error in form.phone_no.errors %}
                                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                                    {{ error }}
                                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                </div>
                                                {% endfor%}
                                                <div class="form-group mx-sm-3 mb-2">
                                                    {{ form.duration(class="form-control" ,placeholder="Duration")}} </div>
                                                {% for error in form.duration.errors %}
                                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                                    {{ error }}
                                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                </div>
                                                {% endfor%}
                                                <button type="submit" class="btn btn-primary mb-2 btn-sm">Send</button>
                                            </form>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    <script type="text/javascript">
    $(document).ready(function() {
        $("#search").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#trucks tr").filter(function() {
                $(this).toggle($(this).text()
                    .toLowerCase().indexOf(value) > -1)
            });
        });
    });
    </script>
</body>

</html>